{{ attach_library('suffix_zx/suffpage-common') }}
<style media="all">
    @import url("/themes/suffix_zx/css/personal-center.css?p1thfq");
</style>
<header class="header">
    <a href="javascript:history.back(-1);" class="pl backtohis"></a>
    <h2 class="headerTitle"><span>修改地址</span></h2>
    <a href="javascript:;" class="save pr" onclick="saveAddressEdit()">保存</a>
</header>
{{ page.content }}
<div class="bottom-fxied">
    {% include '@suffix_zx/includes/footer.html.twig' %}
</div>