<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
	<meta name="format-detection" content="email=no,address=no,telephone=no">
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<link rel="stylesheet" type="text/css" href="../css/personal-center.css">
	<script type="text/javascript" src="../js/flexible.js"></script>
</head>
<body>
	<div class="profile-9vcMlb wrapper">
		<div class="member-container">
			<div class="login-box">
				<div class="line-item">
					<input type="tel" placeholder="请输入手机号码">
				</div>
				<div class="line-item">
					<input type="tel" placeholder="请输入手机号码">
					<a href="javascript:;" class="get-code">获取验证码</a>
				</div>
				<a href="javascript:;" class="member-btn">登录</a>
				<p class="Agsu">点击”登录”按钮，即表示您同意用户服务协议</p>
				<a href="javascript:;" class="member-cut">注册新用户请点击此处</a>
			</div>
		</div>
	</div>
	<div class="bottom-fxied">
		<footer class="footer flex">
			<a class="home"><span></span><p>首页</p></a>
			<a class="order"><span></span><p>订单</p></a>
			<a class="find"><span></span><p>发现</p></a>
			<a class="cart"><span></span><p>购物车</p></a>
			<a class="my cur"><span></span><p>我的</p></a>
		</footer>
	</div>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/wapCommon.js"></script>
<script>

</script>
</body>
</html>