<div class="swiper-container home-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="javascript:;">
          <img src="/themes/suffix_zx/image/slider-benner01.jpg">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="javascript:;">
          <img src="/themes/suffix_zx/image/slider-benner01.jpg">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="javascript:;">
          <img src="/themes/suffix_zx/image/slider-benner01.jpg">
        </a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="shortcut-view">
    <ul class="clearfix">
      <li>
        <a href="/light">
          <img src="/themes/suffix_zx/image/entry-nav-01.png">
          <p>灯具电器</p>
        </a>
      </li>
      <li>
        <a href="/kitchen">
          <img src="/themes/suffix_zx/image/entry-nav-02.png">
          <p>厨卫洁具</p>
        </a>
      </li>
      <li>
        <a href="/plumber">
          <img src="/themes/suffix_zx/image/entry-nav-03.png">
          <p>管道疏通</p>
        </a>
      </li>
      <li>
        <a href="/repair">
          <img src="/themes/suffix_zx/image/entry-nav-04.png">
          <p>家居杂修</p>
        </a>
      </li>
      <li>
        <a href="/furniture">
          <img src="/themes/suffix_zx/image/entry-nav-05.png">
          <p>门窗家具</p>
        </a>
      </li>
      <li>
        <a href="/wall">
          <img src="/themes/suffix_zx/image/entry-nav-06.png">
          <p>墙面地面</p>
        </a>
      </li>
      <li>
        <a href="/heating">
          <img src="/themes/suffix_zx/image/entry-nav-07.png">
          <p>地热暖气</p>
        </a>
      </li>
      <li>
        <a href="/waterproof">
          <img src="/themes/suffix_zx/image/entry-nav-08.png">
          <p>防水补漏</p>
        </a>
      </li>
      <li>
        <a href="/clean">
          <img src="/themes/suffix_zx/image/entry-nav-09.png">
          <p>家电清洗</p>
        </a>
      </li>
      <li>
        <a href="/onsite">
          <img src="/themes/suffix_zx/image/entry-nav-10.png">
          <p>上门安装</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="house-refresh">
    <h2 class="SubTitle"><span>全屋焕新</span><em class="hot-icon"></em></h2>
    <div class="refresh-content">
      <ul class="flex">
        <li>
          <a href="javascript:;">
            <img src="/themes/suffix_zx/image/refresh-img01.jpg">
            <div class="Status-bar">
              <p class="flex"><strong>墙漆换新</strong><span>深度型</span></p>
              <label>￥<em>79</em>/㎡</label>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <img src="/themes/suffix_zx/image/refresh-img02.jpg">
            <div class="Status-bar">
              <p class="flex"><strong>墙漆换新</strong><span>深度型</span></p>
              <label>￥<em>79</em>/㎡</label>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="local-remould">
    <h2 class="SubTitle"><span>局部改造</span></h2>
    <div class="retrofit-content">
      <div class="remouldTarget flex">
        <a href="javascript:;">厨房</a>
        <a href="javascript:;">卧室</a>
        <a href="javascript:;">卫生间</a>
        <a href="javascript:;">客厅</a>
      </div>
      <div class="retrofit-list">
        <ul>
          <li>
            <a href="javascript:;">
              <img src="/themes/suffix_zx/image/home-list-img1.jpg">
              <div class="lr-attribute flex">
                <p>15m2 厨房改造套餐</p>
                <span><em>￥</em>45900<em>.00</em></span>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="/themes/suffix_zx/image/home-list-img2.jpg">
              <div class="lr-attribute flex">
                <p>14m2 卫生间改造套餐</p>
                <span><em>￥</em>45900<em>.00</em></span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>