{{ attach_library('suffix_zx/suffpage-login') }}
{{ page.content }}
<div class="profile-9vcMlb wrapper">
    <div class="member-container">
        <div class="login-box">
            <div class="line-item">
                <input type="tel" placeholder="请输入手机号码">
            </div>
            <div class="line-item">
                <input type="tel" placeholder="请输入手机号码">
                <a href="javascript:;" class="get-code">获取验证码</a>
            </div>
            <a href="javascript:;" class="member-btn">登录</a>
            <p class="Agsu">点击”登录”按钮，即表示您同意用户服务协议</p>
            <a href="javascript:;" class="member-cut">注册新用户请点击此处</a>
        </div>
    </div>
</div>