{{ attach_library('suffix_zx/suffpage-home') }}
<header class="header">
    <a href="javascript:history.back(-1);" class="pl backtohis"></a>
    <div class="header-nav flex">
        <a href="#product-serve" class="serve on">服务</a>
        <a href="#dragtips" class="desc">详情</a>
    </div>
    <a href="javascript:;" class="pr share-icon"></a>
</header>
{{ page.content }}