<div class="project-list">
    <h3 class="column-heading flex">
        <label>服务项目</label>
        <span>共<em>3</em>项</span>
    </h3>
    <ul>
        <li>
            <a href="javascript:;" class="clearfix">
                <img src="image/cart-listimg.jpg" alt="">
                <div class="li-ri">
                    <p class="flex"><span class="tit">卫生间改造(老人适用型)</span><span class="price">￥13900.00</span></p>
                    <p class="flex"><span class="spec">1m2起（含1m2）</span><span class="amount">x 1</span></p>
                </div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="clearfix">
                <img src="image/cart-listimg.jpg" alt="">
                <div class="li-ri">
                    <p class="flex"><span class="tit">卫生间改造(老人适用型)</span><span class="price">￥13900.00</span></p>
                    <p class="flex"><span class="spec">1m2起（含1m2）</span><span class="amount">x 1</span></p>
                </div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="clearfix">
                <img src="image/cart-listimg.jpg" alt="">
                <div class="li-ri">
                    <p class="flex"><span class="tit">卫生间改造(老人适用型)</span><span class="price">￥13900.00</span></p>
                    <p class="flex"><span class="spec">1m2起（含1m2）</span><span class="amount">x 1</span></p>
                </div>
            </a>
        </li>
    </ul>
    <a href="javascript:;" class="view-more">查看更多</a>
</div>