{{ attach_library('suffix_zx/suffpage-home') }}
	<header class="header">
		<a href="javascript:history.back(-1);" class="pl backtohis"></a>
		<h2 class="headerTitle"><span>支付选择</span></h2>
	</header>
	<div class="payment-options wrapper">
		<h3 class="tit">选择支付方式</h3>
		<div class="payment">
			<a href="javascript:;" class="wechatpay"><i></i><span>微信支付</span><label class="on"></label></a>
			<a href="javascript:;" class="fastpay"><i></i><span>快捷支付</span><label></label></a>
		</div>
		<a href="javascript:;" class="affirm-payment">确认支付</a>
	</div>
	<div class="bottom-fxied">
		
	</div>
