{{ attach_library('suffix_zx/suffpage-home') }}
	<header class="header">
		<a href="javascript:history.back(-1);" class="pl backtohis"></a>
		<h2 class="headerTitle"><span>购物车</span></h2>
	</header>
	<div class="shopping-cart cartwrapper">
		<div class="formula-bar flex">
			<span>已选中<em>1</em>件商品</span>
			<!-- <a href="javascript:;" class="edit-gwc">编辑</a> -->
			<a href="javascript:;" class="c-org">完成</a>
		</div>
		<div class="cartbuy">
			<a href="javascript:;" class="cart-commodity flex">
				<label class="option selected"></label>
				<div class="commodity-ri clearfix">
					<div class="wares-img">
						<img src="image/cart-listimg.jpg" alt="">
					</div>
					<div class="wares-info">
						<h3>森马毛衣男2017冬季新款男士假两件韩版潮流针织衫潮</h3>
						<p>1m2起（含1m2）</p>
						<div class="pm regulation-number flex">
					        <button class="decrease disabled">-</button>
					        <input id="number" type="number" value="1">
					        <button class="increase">+</button>
					    </div>
					</div>
				</div>
			</a>
			<a href="javascript:;" class="cart-commodity flex">
				<label class="option"></label>
				<div class="commodity-ri clearfix">
					<div class="wares-img">
						<img src="image/cart-listimg.jpg" alt="">
					</div>
					<div class="wares-info">
						<h3>森马毛衣男2017冬季新款男士假两件韩版潮流针织衫潮</h3>
						<p>1m2起（含1m2）</p>
						<div class="pm regulation-number flex">
					        <button class="decrease disabled">-</button>
					        <input id="number" type="number" value="1">
					        <button class="increase">+</button>
					    </div>
					</div>
				</div>
			</a>
		</div>
		<div class="nominate-box">
			<h3 class="propose-title"><span>—为您推荐 —</span></h3>
			<div class="product-list product-large">
				<ul class="clearfix">
					<li>
						<a href="javascript:;" class="clearfix">
							<div class="img-box">
								<img src="image/big-img01.jpg" alt="">
								<div class="Sold">已售<span>1389</span></div>
							</div>
							<div class="commodity-attribute">
								<h3>上水管增压泵安装</h3>
								<div class="list-price">
									<span class="price"><i>￥</i>120<em>/套</em></span>
									<span class="discount">7.8折</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:;" class="clearfix">
							<div class="img-box">
								<img src="image/big-img01.jpg" alt="">
								<div class="Sold">已售<span>1389</span></div>
							</div>
							<div class="commodity-attribute">
								<h3>上水管增压泵安装</h3>
								<div class="list-price">
									<span class="price"><i>￥</i>120<em>/套</em></span>
									<span class="discount">7.8折</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:;" class="clearfix">
							<div class="img-box">
								<img src="image/big-img01.jpg" alt="">
								<div class="Sold">已售<span>1389</span></div>
							</div>
							<div class="commodity-attribute">
								<h3>上水管增压泵安装</h3>
								<div class="list-price">
									<span class="price"><i>￥</i>120<em>/套</em></span>
									<span class="discount">7.8折</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:;" class="clearfix">
							<div class="img-box">
								<img src="image/big-img01.jpg" alt="">
								<div class="Sold">已售<span>1389</span></div>
							</div>
							<div class="commodity-attribute">
								<h3>上水管增压泵安装</h3>
								<div class="list-price">
									<span class="price"><i>￥</i>120<em>/套</em></span>
									<span class="discount">7.8折</span>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="cartbuy-footer">
		<div class="cartbuy-box flex">
			<label class="cb-footer">
				<b></b>
				<span>全选</span>
			</label>
			<div class="pay-tatol">
				<div class="ta">
					<span class="selenum">已选1件</span>
				</div>
			</div>
			<a href="javascript:;" class="buy-btn"><span>删除</span></a>
		</div>
	</div>
<div class="bottom-fxied">
    {% include '@suffix_zx/includes/footer.html.twig' %}
</div>