{{ attach_library('suffix_zx/suffpage-home') }}
	<header class="header">
		<a href="javascript:history.back(-1);" class="pl backtohis"></a>
		<h2 class="headerTitle"><span>确认订单</span></h2>
	</header>
		{{ page.content }}
	<div class="bottom-fxied">
        {% include '@suffix_zx/includes/footer.html.twig' %}
	</div>