{{ attach_library('suffix_zx/suffpage-common') }}
<style media="all">
	@import url("/themes/suffix_zx/css/shopping-process.css?p1thfq");
</style>
<header class="header">
	<a href="javascript:history.back(-1);" class="pl backtohis"></a>
	<h2 class="headerTitle"><span>购物车</span></h2>
</header>
{% if page.content %}
    {{ page.content }}
{% endif %}

<div class="bottom-fxied">
	{% include '@suffix_zx/includes/footer.html.twig' %}
</div>