{{ attach_library('suffix_zx/suffpage-common') }}
<style media="all">
	@import url("/themes/suffix_zx/css/shopping-process.css?p1thfq");
</style>
<header class="header">
	<a href="javascript:history.back(-1);" class="pl backtohis"></a>
	<h2 class="headerTitle"><span>购物车</span></h2>
</header>
{% if page.content %}
    {{ page.content }}
{% endif %}

<div class="shopping-cart cartwrapper">
	<div class="nominate-box">
		<h3 class="propose-title"><span>—为您推荐 —</span></h3>
        {{ page.prductlist_grid }}
		{#<div class="product-list product-large">#}
			{#<ul class="clearfix">#}
				{#<li>#}
					{#<a href="javascript:;" class="clearfix">#}
						{#<div class="img-box">#}
							{#<img src="image/big-img01.jpg" alt="">#}
							{#<div class="Sold">已售<span>1389</span></div>#}
						{#</div>#}
						{#<div class="commodity-attribute">#}
							{#<h3>上水管增压泵安装</h3>#}
							{#<div class="list-price">#}
								{#<span class="price"><i>￥</i>120<em>/套</em></span>#}
								{#<span class="discount">7.8折</span>#}
							{#</div>#}
						{#</div>#}
					{#</a>#}
				{#</li>#}
				{#<li>#}
					{#<a href="javascript:;" class="clearfix">#}
						{#<div class="img-box">#}
							{#<img src="image/big-img01.jpg" alt="">#}
							{#<div class="Sold">已售<span>1389</span></div>#}
						{#</div>#}
						{#<div class="commodity-attribute">#}
							{#<h3>上水管增压泵安装</h3>#}
							{#<div class="list-price">#}
								{#<span class="price"><i>￥</i>120<em>/套</em></span>#}
								{#<span class="discount">7.8折</span>#}
							{#</div>#}
						{#</div>#}
					{#</a>#}
				{#</li>#}
				{#<li>#}
					{#<a href="javascript:;" class="clearfix">#}
						{#<div class="img-box">#}
							{#<img src="image/big-img01.jpg" alt="">#}
							{#<div class="Sold">已售<span>1389</span></div>#}
						{#</div>#}
						{#<div class="commodity-attribute">#}
							{#<h3>上水管增压泵安装</h3>#}
							{#<div class="list-price">#}
								{#<span class="price"><i>￥</i>120<em>/套</em></span>#}
								{#<span class="discount">7.8折</span>#}
							{#</div>#}
						{#</div>#}
					{#</a>#}
				{#</li>#}
				{#<li>#}
					{#<a href="javascript:;" class="clearfix">#}
						{#<div class="img-box">#}
							{#<img src="image/big-img01.jpg" alt="">#}
							{#<div class="Sold">已售<span>1389</span></div>#}
						{#</div>#}
						{#<div class="commodity-attribute">#}
							{#<h3>上水管增压泵安装</h3>#}
							{#<div class="list-price">#}
								{#<span class="price"><i>￥</i>120<em>/套</em></span>#}
								{#<span class="discount">7.8折</span>#}
							{#</div>#}
						{#</div>#}
					{#</a>#}
				{#</li>#}
			{#</ul>#}
		{#</div>#}
	</div>

</div>
<div class="bottom-fxied">
	{% include '@suffix_zx/includes/footer.html.twig' %}
</div>