{{ attach_library('suffix_zx/suffpage-home') }}
<style media="all">
    @import url("/themes/suffix_zx/css/personal-center.css?p1thfq");
</style>
<header class="header">
    <a href="javascript:history.back(-1);" class="pl backtohis"></a>
    <h2 class="headerTitle"><span>设置</span></h2>
</header>
<div class="profile-9vcMlb wrapper">
    <div class="setting-wrap">
        <a href="javascript:;" class="setting-item">
            <span>清除缓存</span>
            <b></b>
        </a>
        <a href="javascript:;" class="setting-item">
            <span>关于我们</span>
            <b></b>
        </a>
    </div>
    <a href="/user/logout" class="operate-default Logout">退出登陆</a>
</div>
<div class="bottom-fxied">
    {% include '@suffix_zx/includes/footer.html.twig' %}
</div>