<footer class="footer flex">
    <a href="/" class="home {% if selected_flag == 'front' %}cur{% endif %}"><span></span><p>首页</p></a>
    <a href="/user/{{ _context.user.id }}/orders" class="order {% if selected_flag == 'orders' %}cur{% endif %}"><span></span><p>订单</p></a>
    <a href="/discover" class="find {% if selected_flag == 'discover' %}cur{% endif %}"><span></span><p>发现</p></a>
    <a href="/cart" class="cart {% if selected_flag == 'cart' %}cur{% endif %}"><span></span><p>购物车</p></a>
    <a href="/home" class="my {% if selected_flag == 'home' %}cur{% endif %}"><span></span><p>我的</p></a>
</footer>


