
<footer class="footer flex">
    <a href="/" class="home cur"><span></span><p>首页</p></a>
    <a href="/user/%user/orders" class="order"><span></span><p>订单</p></a>
    <a href="/discover" class="find"><span></span><p>发现</p></a>
    <a href="/cart" class="cart"><span></span><p>购物车</p></a>
    <a href="/user" class="my"><span></span><p>我的</p></a>
</footer>